{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":26,"scrollleft":0,"selection":{"start":{"row":15,"column":12},"end":{"row":15,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":15,"state":"start","mode":"ace/mode/text"}},"timestamp":1573750063708,"hash":"c89933a2ef6a67f97ad54bcd417d12339d5f7a08"}